<div id="landing">
		<form>
			<div id="search">
				<input type="text" name="st"><input type="submit" value="Search">
			</div>
			<div id="radio">
				<input type="radio" name="stype" value="player" checked>Players
				<input type="radio" name="stype" value="group">Groups
			</div>
		</form>
	</div>
