	<%# Use this navbar if the user is logged in %>
	<div id="navbar">
		<div id="buttons">
			<%= link_to "MY PROFILE", current_user, class: "btn"%>
			<%= link_to "SIGN OUT", logout_path, class: "btn", method: "delete" %>
		</div>
		<div id = "heading">
			<h1><%= link_to "OSU SUMMONER SEARCH", search_path %></h1>
		</div>
	</div>